<script type="text/template" id="alert-template">
	<div class="alert alert-danger fade in col-md-12">
		<strong><%-title%></strong>
			<%-body%>
		<span class="close" data-dismiss="alert">×</span>
	</div>
</script>