html,
body {
    height: 100%;
}

html, body, .desc-page-container, .desc-page-container .page-container-width, /* .desc-page-container .row */
{
    height:100%;
}

.page-container-width
{
    height:480px;
    margin-left: -5px;
}

.page-container-width1
{
    height:350px;
    margin-left: -5px;
}
.page-container-width2
{
    height:80px;
    margin-left: 5px;
}

.page-container-width3
{
    height:100%;
    margin-left: -5px;
}

.row.add-step {
    height: auto;
    padding: 15px 0;
}

ul.sortable {
    height: 543px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.files-content .file-item a.filename {
    color: black;
}

.files-content .file-item a.remove-file {
    color: red;
}

.title-order{
    font-weight: 600;
    display: inline;
    overflow: hidden;

    padding: 1px 0;
    font-size: 14px;
    line-height: 18px;
}

.detail.value {
    font-size: 12px;
    line-height: 16px;
    padding: 2px 0px;
    color: #888e94;
    white-space: normal;
}

.look-order{
    float: right;
}

.desc-page .content-wrapper{
    background-color: #0079BF!important;
    position: relative;
}

.sortable.list {
    margin-bottom: 0;
}

.sortable.list li {
    position: relative;
    min-height: 60px;
    background-color: #fff;
    margin: 0;
    border-bottom: solid 1px #e0e4e7!important;
}

.sortable.list li:hover {
    background-color:#EEEFF1!important;
}

.step-title {
    display: table-cell;
    text-align: left;
    color: #000;
    padding: 10px 25px 3px 12px;
    background-color: #f3f5f6;
    background: url(../img/stage-arrow.png) no-repeat 100% 0,linear-gradient(#fff, #f3f5f6);
    background-size: 20px 100%, 100% 100%;
    overflow: visible;
    vertical-align: middle;
    width: 264px;
    height:55px;
    border-bottom: solid 0.5px #c2c8cd;
}

.stagevalue small {
    font-size: 11px;
    color: #888e94;
    font-weight: normal;
}

.bold-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
}

.main-footer {
    background-color: #0079BF!important;
}

h1, h2 , h3{
    color: #4D4D4D;
}

.desc-page-container {
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; 
}

.desc-page-container2 {
    overflow-x: auto;
    white-space: normal;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; 
}

.desc-page-container4 {
    overflow-x: auto;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; 
}

.step-column .box {
    border-radius: 0;
    box-shadow: none;
}

.step-column {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px #c2c8cd;
    vertical-align: top;
    white-space: nowrap;
    display: inline-block;
    margin-right: -4px;
    width: 264px;
    height: 100%;
    overflow-y: auto;
}

.desc-page-container .step-column:nth-child(3) {
    margin-right: -3px;
}

.step-column .sortable {
    -moz-user-select: none;
    padding: 0;
    border-radius: 0;
    border: none;
}

.step-column .sortable li {
    border: none;
}

.step-column .btn-box-tool {
    color:#3c8dbc;
}

.page-container-width{
    padding-left: 15px;
}

.table {
    white-space: nowrap;
    font-size: 11px;
}
.btn {
    font-size: 13px;
}
h1  {
    font-size: 25px;
    margin-top: 0;
}

label {
    font-size: 12px;
}

.form-control {
    height: 32px;
}

form {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.table{
    overflow-x: scroll;
    background-color: white;
}

.grid-view th {
    font-size: 10px;
}

.customer-from {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.sortable li {
    padding: 0;
}

.box.box-default {
    margin-bottom: 0;
    border-top: 0;
}

.box-body {
    border-top: solid 1px #ccc;
}

.step-column .box-header {
    min-height: 56px;
    padding: 5px 10px 0 10px;
}

.box-header span.box-title {
    white-space: normal;
    width: 230px;
    font-size: 12px;
}
.box-header span.client_loyalty {
    color: #3c8dbc;
 }

.step-column .box-header>.box-tools {
    position: absolute;
    right: 0px;
    top: 0px;
}

.pull-right div{
    margin: 0 auto;
    text-align: center;
}

.comments-widget {
    background-color: white;
}

.comments-list .comment {
    margin: 20px 20px 20px 0;
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
}

.comment-title {
    margin-left: 20px;
    padding-top: 20px;
}

.comment-form {
    margin-left: -5px;
}

.comments-list {
    margin-left: 20px;
}

.btn-box-tool {
    color:#3c8dbc;
}

.add-client {
    margin-top: 23px;
}

.error-msg {
    color: red;
}

.client-name-item {
    margin-left: 10px;
}

.box-header .btn-box-tool {
    padding: 0 5px 0 5px;
}

.boards-page-board-section-header {
    margin: 0 0 0 38px;
    padding: 0 0 11px;
    display: inline-block;
}
.boards-page-board-section-header-name {
    display: inline-block;
    line-height: 24px;
    margin: 3px 0 0;
    font-size: 1pc;
    font-weight: 700;
}

.boards-page-board-section-list-item {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1pc 8px 0;
    position: relative;
    width: 100%;
    display: inline-block;
}

.boards-page-board-section-list-item:hover .board-tile {
    background: #0f92dd;
    color: white;
}

.board-tile {
    background-color: #0079BF;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    color: #fff;
    display: block;
    line-height: 20px;
    margin-bottom: 8px;
    padding: 8px 9pt;
    position: relative;
    text-decoration: none;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.board-tile-details.is-badged {
    padding-bottom: 20px;
}
.board-tile-details {
    display: block;
    min-height: 5pc;
    padding-right: 36px;
    position: relative;
}
.board-tile-details1 {
    display: block;
    min-height: 2pc;
    padding-right: 36px;
    position: relative;
}
.board-tile-details-name {
    font-size: 1pc;
    font-weight: 700;
    display: inline-block;
    overflow: hidden;
    position: absolute;
}
.board-tile.mod-add{
    background-color: #E2E4E6;
    color: #8c8c8c;
    font-weight: 400;
}
.board-tile.mod-add:hover {
    background-color: #D6DADC;
    color: #4d4d4d;
}
.mod-add .board-tile-details-name {
    font-size: 12px;
    font-weight: 400;
    max-height: 40px;
}
.deadline.yellow {
    background-color: #fff67a;
}
.deadline.red {
    background-color: #cc0000;
}
.deadline {
    height: 3px;
    left: 0;
    position: absolute;
    width: 131px;
    border-radius: 5px;
}
.step-column.add-client-button-column{
    border: none;
    margin-left: 1px;
}

.step-column.add-client-button-column .btn {
    border-radius: 0;
    text-align: left;
    color: #000;
    padding: 10px 25px 3px 12px;
    background-color: #f3f5f6;
    background: url(../img/stage-arrow.png) no-repeat 100% 0,linear-gradient(#fff, #f3f5f6);
    background-size: 20px 100%, 100% 100%;
    overflow: visible;
    vertical-align: middle;
    width: 264px;
    height: 57px;
    border-bottom: solid 0.5px #c2c8cd;
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    margin-top: -0.6px;
}